*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(light-grey-terrazzo.png);
  
}

.mainheader{
    position: fixed;
    top: 0px;
    background-color: #ffffff;
    border: 1px solid blue;
    height: 45px;
    width: 100%;
    
    
}

h1{
    position: fixed;
    left: 200px;
    top: -5px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    
}

h2{
    position: relative;
    top: -30px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    
}

.mylinks{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.aboutlink{
    position: absolute;
    right: 500px;
    top: 20px;
    background-color: #ffffff;
  
}

.contactlink{
    position: absolute;
    right: 295px;
    top: 20px;
    background-color: #ffffff;

}

.portfoliolink{
    position: absolute;
    right: 400px;
    top: 20px;
    background-color: #ffffff;

}

.maincontent{
    position: fixed;
    top: 100px;
    left: 200px;
    background-color: #ffffff;
    border: 1px solid red;
    color: #777777;
    width: 960px;
    margin: 0 auto 0 auto;
    padding: 40px;
}
.flexcontainer{
    display: flex;
    flex-direction: column;
}

.footer{
    position: fixed;
    bottom: 5px;  
    background-color: #666666;
    width: 100%;
    text-align: center;
    border-top: 8px solid #4aaaa5
}

.float1{
    float: left;
       

}

.float2{
    float: left; 
}


.myimages{
    position: relative;
    width: 200px;
    height: 200px;
    
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  .contactform{
      display: table;
      display: table-row;

  }

  .inputlabel{
    display: block;
      padding-top: 25px;
  }
  .input{
      width: 885px;
  }

  .submit{
      background-color: #4aaaa5;
      padding: 5px;
  }

  .absolute{
    background: #4aaaa5;
    width: 200px;
    position: absolute;
    padding: 10px;
    text-align: center;
    left: 10px;
    bottom: 405px;
  }

  .portfolioimage1{
        position: relative;
        width: 200px;
        height: 200px;
        padding: 10px;
                
    }
    .portfolioimage2{
        position: relative;
        width: 200px;
        height: 200px;
        padding: 10px;
        
    }

       
       .portfolioimage3{
        position: relative;
        width: 200px;
        height: 200px;
        padding: 10px;
           
    }

    .portfolioimage4{
        position: absolute;
        top: 85px;
        left: 220px;
        width: 200px;
        height: 200px;
        padding: 10px;
         
    }
    .portfolioimage5{
        position: absolute;
        width: 200px;
        height: 200px;
        top: 295px;
        left: 220px;
        padding: 10px;
   
        
    }
    .portfoliocontent{
        position: fixed;
        top: 80px;
        left: 200px;
        background-color: #ffffff;
        border: 1px solid red;
        color: #777777;
        width: 960px;
        margin: 0 auto 0 auto;
        padding: 10px;
        
    }